
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #397a3d;
}

a {
    display: block;
    text-decoration: none;
}

*::before,
*::after {
    box-sizing: inherit;
}

ul,
ol {
    list-style: none;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
/* --------------------------HEADER-------------------- */
.nav{
    display: flex;
    justify-content: space-between;
}
.nav__list{
display: flex;
justify-content: space-between;
gap: 40px;
align-items: center;
font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 18px;
}
.header{
margin: 0 auto;
    width: 100%;
background-color: #0fb64149;
    position: fixed;
    height: 120px;
    padding-top: 20px;
    z-index: 5;
    /* padding-top: 100px; */
}
.logo img{
    border-radius: 50px;
    margin: 0 auto;
    
}
/* --------------------------END HEADER-------------------- */
/* -----------------------------AVATAR------------------------------ */
.avatar{
    display: block;
    margin: 0 auto;
    border-radius: 150px;
    margin-bottom: 30px;
}
/* -----------------------------END AVATAR------------------------------ */
/* -----------------------------NAME------------------------------ */
.name{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        /* line-height: 78px; */
    
        color: #CECACA;
        margin-bottom: 30px;
}
.last-name{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        /* line-height: 60px; */
        /* identical to box height */
    margin-bottom: 30px;
    
        color: #FFFFFF;
}
.title{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        /* line-height: 40px; */
    margin-bottom: 50px;
        color: #CECACA;
        
        
}
/* -----------------------------END NAME------------------------------ */
/* -----------------------------SIDBARE------------------------------ */

.sidbar{background-color: rgba(196, 196, 196, 0.3);
    border-radius: 10px;
    padding: 50px 50px ;
}
/* -----------------------------END SIDBARE------------------------------ */
/* -----------------------------CONTACT------------------------------ */
.contact__link{
    font-family: 'Actor';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;
        display: flex;
        align-items: center;
    
        color: #FFFFFF;
}
.link svg{
    width: 50px;
    height: 50px;
    fill: #FFFFFF;
}
.contact__item{
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
}
.contact__item a{
    display: flex;
    gap: 30px;
    
    /* justify-content: space-between; */
}
/* -----------------------------END CONTACT------------------------------ */
/* -----------------------------TECHNICAL SKILLS------------------------------ */
.subtitle{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        color: #FFFFFF
}
/* -----------------------------END TECHNICAL SKILLS------------------------------ */
/* -----------------------------HOME------------------------------ */

.home{
    display: flex;
    gap: 50px;
    padding-top: 140px;
}
/* -----------------------------END HOME------------------------------ */
/* -----------------------------RIGHT------------------------------ */
.right{
    padding: 50px 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.right .subtitle{
        font-weight: 600;
        background-color: #545454;
            border-radius: 5px;
            padding-left: 80px;
            width: 610px;
           
}
/* -----------------------------END RIGHT------------------------------ */
.circle {

    width: 10px;
    height: 10px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.circle__list{
    display: flex;
  
    /* align-items: center; */
    /* text-align: center; */
}
.tech-skills__list{
   
}
.tech-skills__item{
    display: flex;
   
        justify-content: space-between;
    /* align-items: center;
    text-align: center; */
   
}