
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(224, 37, 206, 0.79) 93.75%);;
}

a {
    display: block;
    text-decoration: none;
}

*::before,
*::after {
    box-sizing: inherit;
}

ul,
ol {
    list-style: none;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
/* --------------------------HEADER-------------------- */
.nav{
    display: flex;
    justify-content: space-between;
}
.nav__list{
display: flex;
justify-content: space-between;
gap: 40px;
align-items: center;
font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.20;
}
.header{
margin: 0 auto;
    width: 100%;
background-color: #0fb64149;
    position: fixed;
    height: 120px;
    padding-top: 20px;
    z-index: 5;
    /* padding-top: 100px; */
}
.logo img{
    border-radius: 50px;
    margin: 0 auto;
    
}
/* --------------------------END HEADER-------------------- */
/* -----------------------------AVATAR------------------------------ */
.avatar{
    display: block;
    margin: 0 auto;
    border-radius: 150px;
    margin-bottom: 30px;
}
/* -----------------------------END AVATAR------------------------------ */
/* -----------------------------NAME------------------------------ */
.name{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 1.22;
    
        color: #CECACA;
        margin-bottom: 30px;
}
.last-name{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 1.25;
        /* identical to box height */
    margin-bottom: 30px;
    
        color: #FFFFFF;
}
.title{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 1.25;
    margin-bottom: 50px;
        color: #CECACA;
        
        
}
/* -----------------------------END NAME------------------------------ */
/* -----------------------------SIDBARE------------------------------ */

.sidbar{background-color: rgba(196, 196, 196, 0.3);
    border-radius: 10px;
    padding: 50px 50px ;
}
/* -----------------------------END SIDBARE------------------------------ */
/* -----------------------------CONTACT------------------------------ */
.contact__link{
    font-family: 'Actor';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 1.25;
        display: flex;
        align-items: center;
    
        color: #FFFFFF;
}
.link svg{
    width: 50px;
    height: 50px;
    fill: #FFFFFF;
}
.contact__item{
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
}
.contact__item a{
    display: flex;
    gap: 30px;
    
    /* justify-content: space-between; */
}
/* -----------------------------END CONTACT------------------------------ */
/* -----------------------------TECHNICAL SKILLS------------------------------ */
.subtitle{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.54;
        color: #FFFFFF;
        /* margin-bottom: 20px; */
}
.sidbar .subtitle{
    margin-bottom: 20px;
}
.tech{
    font-family: 'Actor';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 2;

        color: #FAFAFA;
}
.tech-skills__list, .soft-skills__list{
    margin-bottom: 20px;
}
/* -----------------------------END TECHNICAL SKILLS------------------------------ */
/* -----------------------------SOFT SKILLS------------------------------ */
.soft-skills__item{
    font-family: 'Actor';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 1.54;
        /* or 154% */
    
    
        color: #FFFFFF;
}
/* -----------------------------END SOFT SKILLS------------------------------ */
/* -----------------------------HOME------------------------------ */

.home{
    display: flex;
    gap: 50px;
    padding-top: 140px;
}
/* -----------------------------END HOME------------------------------ */
/* -----------------------------RIGHT------------------------------ */
.right{
    padding: 50px 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.right .subtitle{
        font-weight: 600;
        background-color: #545454;
            border-radius: 5px;
            padding-left: 80px;
            width: 610px;
            /* margin-bottom: 30px; */
           
}
.hr{
    display:flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 30px;
}
/* -----------------------------END RIGHT------------------------------ */
/* -----------------------------SUMMARY------------------------------ */
.para{
    font-family: 'Actor';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
    line-height: 1.54;
    
    
        color: #343434;
            /* padding-top: 30px; */
            padding-bottom: 30px;
}
/* -----------------------------END SUMMARY------------------------------ */
/* -----------------------------PROJECT------------------------------ */
.project-examples, .work-experience, .education{
    margin-bottom: 30px;
}
.project-link__title{
    font-family: 'Black Ops One';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
    line-height: 2;
    
    
        color: #343434;
}
.project-link__git{
    font-family: 'Actor';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 2;
        /* or 90% */
    
        display: flex;
        align-items: center;
    
        color: #343434;
}
.project__desc{
    font-family: 'Actor';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 2;
        /* or 200% */
    
    
        color: rgba(0, 0, 0, 0.8);
}
.project__list{
    display: grid;
    gap: 20px;
}
.project__item{
    /* margin-bottom: 10px; */
    display: grid;
    /* flex-wrap: wrap; */
    gap: 10px;
}

/* -----------------------------END PROJECT------------------------------ */
/* -----------------------------WORK EXPERIENCE------------------------------ */
.year{
    color: #73808D;
}
/* -----------------------------END WORK EXPERIENCE------------------------------ */
/* -----------------------------EDUCATION------------------------------ */
/* -----------------------------END EDUCATION------------------------------ */
/* -----------------------------ADDITIONAL EDUCATION------------------------------ */
/* -----------------------------END ADDITIONAL EDUCATION------------------------------ */
.circle {

    width: 20px;
    height: 20px;
    background: #545454;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.circle.grey{
    background-color: #CECACA;
}
.circle__list{
    display: flex;
  gap: 10px;
  justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.tech-skills__item{
    display: flex;
   
        justify-content: space-between;
    /* align-items: center;
    text-align: center; */
   
}