
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #397a3d;
}

a {
    display: block;
    text-decoration: none;
}

*::before,
*::after {
    box-sizing: inherit;
}

ul,
ol {
    list-style: none;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
/* --------------------------HEADER-------------------- */
.nav{
    display: flex;
    justify-content: space-between;
}
.nav__list{
display: flex;
justify-content: space-between;
gap: 40px;
align-items: center;
font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 18px;
}
.header{
margin: 0 auto;
    width: 100%;
background-color: #0fb64149;
    position: fixed;
    height: 120px;
    padding-top: 20px;
    z-index: 5;
    /* padding-top: 100px; */
}
.logo img{
    border-radius: 50px;
}
/* --------------------------END HEADER-------------------- */
/* -----------------------------AVATAR------------------------------ */
.avatar{
    border-radius: 150px;
}
/* -----------------------------END AVATAR------------------------------ */
/* -----------------------------NAME------------------------------ */
.name{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        /* line-height: 78px; */
    
        color: #CECACA;
}
.last-name{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        /* line-height: 60px; */
        /* identical to box height */
    
    
        color: #FFFFFF;
}
.title{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        /* line-height: 40px; */
    
        color: #CECACA;
}
/* -----------------------------END NAME------------------------------ */
/* -----------------------------SIDBARE------------------------------ */

.sidbar{background-color: rgba(196, 196, 196, 0.3);
    border-radius: 10px;
    padding: 50px 20px ;
}
/* -----------------------------END SIDBARE------------------------------ */
.home{
    display: flex;
    gap: 50px;
    padding-top: 140px;
}
.circle {

    width: 10px;
    height: 10px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.circle__list{
    display: flex;
  
    /* align-items: center; */
    /* text-align: center; */
}
.tech-skills__list{
   
}
.tech-skills__item{
    display: flex;
   
        justify-content: space-between;
    /* align-items: center;
    text-align: center; */
   
}